/* GENERAL STYLING */

:root {
    --background: #f7f7f7;
    --text: #636055;
    --green: #cdd5c7;
    --darker-green: #a2aa9c;
    font-size: 1.33em;
    font-family: "Lato", sans-serif;
}

*, *:hover, *:active {
    box-sizing: border-box;
    list-style: none;
    transition: .2s;
}

body, html {
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

a, a:visited {
    color: var(--text);
    text-decoration: none;
    padding: 20px 0;
}

a:hover, a:active {
    color: var(--darker-green);
}

img {
    height: 5rem;
    width: 5rem;
}

/* FONTS */

@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif/Kollektif.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato2OFL/Lato-Regular.ttf");
}

/* LANDING PAGE */

.landing-container {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#green-box {
    border: 6px solid var(--green);
    padding: 5rem 0;
    position: relative;
    white-space: nowrap;
    width: 36rem;
    height: 15rem;
    margin: 3vh auto 1vh auto;
}

#major-headings-container {
    background-color: var(--background);
    padding: 2rem 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-23.5rem, -50%);
    width: 47rem;
}

.major-heading {
    background-color: var(--background);
    margin: 0;
    width: 100%;
    font-family: "Kollektif", sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: .11em;
}

.major-subheading {
    margin: .5rem 0 0 0;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: .5em;
}

#landing-nav{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
    z-index: 10;
    padding: 1vh 10vw;
    width: 36rem;
    margin: auto;
}

#landing-nav > ul, nav > ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

#landing-nav > ul > li {
    padding-bottom: 20px;
    margin: 0 1rem;
    border-bottom: 2px solid inherit;
}

#landing-nav > ul > li:hover {
    color: var(--darker-green);
    cursor: pointer;
    border-bottom: 2px solid var(--green);
}

nav.normal{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
    z-index: 10;
}

@media only screen and (max-width: 1000px) {
    :root {
        font-size: 1em;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        font-size: 2.5vw;
    }

    .hidden {
        display: inline-block;
    }

    #green-box {
        width: 75vw;
        height: 75vw;
    }

    #major-headings-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .major-heading {
        letter-spacing: .15em;
    }

}

#about-pic {
    width: 50vw;
    height: 100vh;
}

#about-container {
    display: flex;
}

nav.normal {
    position: fixed;
    display: flex;
    align-items: baseline;
    top:0;
    left:0;
    margin: 0;
    background-color: #FFF;
    width: 100%;
    font-size: 14pt;
    grid-area: 1 / 1 / -1 / 2;
}

nav.normal>ul {
    margin: 0;
    margin-left:auto;
}

nav.normal > ul > li > a {
    padding: 10px 3rem;
}

.disabled-link {
    padding: 10px 3rem;
    letter-spacing: 5px;
    color: var(--darker-green);
}

#about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6vh 94vh;
}

h2.major-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: inherit;
    color:  var(--darker-green);
}

#about-text {
    padding: 75px;
    width: 50vw;
    grid-area: 2 / 2 / -1 / -1;
    background-color: #fff;
    border: 5px solid var(--green);
}

.accent-color {
    color: var(--darker-green);
}

img.landing.hidden {
    margin-bottom: 3rem;
}

.logo-div {
    margin-right: auto;
}



/* TIMELINE */

#timeline-container {
    padding-top: 2em;
    width: 90%;
    max-width: 1000px;
    display: inline-grid;
    grid-template-columns: 1fr 2px 1fr;
}

#timeline-left {
    grid-area: 1 / 1 / 1 / 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 75px;
    padding-top: 100px;
}

#vertical-line {
    grid-area: 1 / 2 / 1 / 3;
    background-color: #b4afa8;
}

#timeline-right {
    grid-area: 1 / 3 / 1 / 4;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 75px;
}

.job-title-header {
    margin: 0;
    font-weight: normal;
    font-family: "Kollektif", serif;
    text-transform: uppercase;
    font-size: 1.55rem;
    letter-spacing: 2px;
    color: var(--darker-green);
}

.job-co-header {
    font-size: 1.2rem;
    margin-top: .25rem;
    font-weight: normal;
    color: #a49f99;
}

.job-co {
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.job-co a:hover {
    text-decoration: underline;
    letter-spacing: 2px;
}

.job-description {
    font-size: 1rem;
}

#gpm-block, #victorium-block, #feb-block, #utsa-block {
    margin-top: 150px;
}

#ocarina-block, #coffee-project-block, #fortune-cookie-block {
    margin-top: 50px;
}

.timeline-icon {
    width: 30px;
    height: 30px;
    stroke: white;
    margin-top: 10px;
}

.left-timeline-circle {
    display: inline-block;
    text-align: center;
    z-index: 0;
    width: 50px;
    height: 50px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    transform: translate(50px);
}

.right-timeline-circle {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    transform: translate(-100px);
}

.timeline-project {
    width: 350px;
    height: 350px;
    overflow: hidden;
    transition: .2s;
    border-radius: 3em;
}

.timeline-project:hover {
    transform: scale(1.11);
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

img:hover {
    filter: opacity(1);
    -webkit-filter: opacity(1);
}

.modal {
    position: fixed;
    text-align: left;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease-in-out;
    padding: 50px;
    width: 70%;
    max-width: 750px;
    background-color: #FFF;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.modal-body {
    font-size: 1.25em;
}

.project-header{
    font-size: 3em;
    letter-spacing: 5px;
}

.modal > h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.btn-container {
    text-align: center;
}

.project-link {
    font-family: 'WorkSans', sans-serif;
    border: 1px solid #ff566e;
    background-color: #ff566e;
    color: #FFF;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.25em;
    transition: .2s;
}

.project-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #FFF;
    color: #ff566e;
    transition: .2s;
}

hr {
    height: 2px;
    color: #b4afa8;
    background-color: #b4afa8;
    border: none;
    margin-bottom: 2em;
}

.close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    color: #ff566e;
}

#overlay {
    position: fixed;
    opacity: 0;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: .2s ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.image-overlay {
    display: none;
}

.feather {
    width: 4vh;
    height: 4vh;
    stroke: white;
    stroke-width: 1.75;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.timeline-icon {
    width: 30px;
    height: 30px;
    stroke: white;
    margin-top: 10px;
}